<!--<div class="col-md-6 offset-md-3 mt-5">
    <router-outlet></router-outlet>
</div>-->
<nav class="navbar navbar-expand-lg navbar-light nav-custom page-content">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="../public/index.html">
            <img src=""  class="nav-logo">
        </a>
        <a class="navbar-brand d-none d-lg-inline-block" href="../public/index.html">
            <img src=""  class="nav-logo">       Brick Bootcamp
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-left" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a routerLink="../account/login" class="nav-link m-2 menu-item active">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="../account/register" class="nav-link m-2 menu-item active">Registro</a>
            </li>
        </ul>
    </div>
</nav>
<div class="">
    <router-outlet></router-outlet>
</div>