<div class="page-content form-pos">
    <div class="row container-fluid">
        <div class="col-md-12 col-lg-4"></div>
        <div class="col-md-12 col-lg-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
                <img class="logo-login" src="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">Introduce un Email</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre y apellidos</label>
                    <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Introduce tu nombre y apellidos</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Introduce un nombre de usuario</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Introduce una contraseña</div>
                        <div *ngIf="f.password.errors.minlength">La contraseña tiene que tener al menos 6 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Registrar
                    </button>
                    <a routerLink="../login" class="btn btn-link">Cancelar</a>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-lg-4"></div>
    </div>
</div>
<div class="footer page-content">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-4 footer-links">
                <ul>
                    <li>
                        <a href="">Brick Bootcamp</a>
                    </li>
                    <li>
                        <a href="">Contacta</a>
                    </li>
                    <li>
                        <a href="">Informacion legal</a>
                    </li>
                    <li>
                        <a href="">Politica de privacidad</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-center footer-social">
                <a href="" class="fa fa-youtube"></a>
            </div>
            <div class="col-md-4 footer-about">
                <div>
                    <img class="img-footer" src="">
                </div>
                <div class="text-right addres-text">
                    <p>
                        <strong>Brick Bootcamp</strong>
                        <br>
                        Plaza de Sta. Ana, 13, 28012 Madrid, Comunidad de Madrid, España
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter text-center">
        <p>Brick Bootcamp - Copyright © 2020</p>
    </div>
</div>